* {
    padding: 0px;
    margin :0px;
}



.heading {
    width: 95px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.round {
    border: 2px solid rgb(29, 29, 34);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-round {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(29, 29, 34);
    background-color: rgb(29, 29, 34);
    border-radius: 50%;
}

a {
    font-weight:500;
    color: blue;
}